<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>人证比对结果</title>
     <link rel='stylesheet prefetch' th:href="@{http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css}" />
     <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
 
<h1 th:text="${response}">比对结果</h1> 
<h2 th:text="${score}">比对分数</h2>


</body>
</html>